# Log files and folders
*.log
npm-debug.log*

# Mac related files
.DS_Store

# Lambda zip file
lambda.zip

# Node modules package directory
node_modules

# npm cache directory
.npm

# Code Coverage Reports
/coverage

# Environment Variable File
.env

# Terraform
.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
